/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Matrix Code NFI";
    src: url("/assets/font/matrix code nfi.otf") format("opentype"),
        url("/assets/font/matrix code nfi.ttf") format("truetype");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Matrix Code NFI", "Courier New", Courier, monospace;
    overflow: hidden;

    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
}

cmd-terminal {
    background-color: rgb(3, 3, 3);
}